<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Status}} {{.Message}} - Ascii Art Web Converter</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main class="error-container">
    <h1>{{.Status}} - {{.Message}}</h1>
    <p>{{.Info}}</p>
    <p>{{.Error}}</p>
    <p>Go back to <a href="/">Ascii Art Web Converter</a>.</p>
  </main>
  </body>
</html>
